<% include ./partials/header.ejs %>

<div id='sbx' >
<h1>Login</h1>
<form action="/login" method='POST'>
 <label for="suemail">Email</label>   
 <input type="text" id='suemail' placeholder='email' name='username' style="display: block;" >
 <br>
 <label for="supassword">Password</label>
 <input type="password" id='supassword' placeholder='password' name="password" style="display: block;" >
 <br>
 <button class="btn btn-danger" >Submit</button>
</form>
</div>

<% include ./partials/footer.ejs %>